*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    font-family: "Inter" sans-serif;
    background-color: #f5f5f5;
    color: #1d1d1d;
    line-height: 1.6;
    
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 auto;
}
/* STYLING HEADER */
.main-header{
    background-color: rgba(255,255,255, 0.8);
    backdrop-filter: blur(10px);
    padding: 15px 0;
    position:sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #dddd;
}
.main-header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    color: black;


}
 .main-nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
 }
.main-nav a {
    text-decoration: none;
    color: aqua;
    font-size: 16px;
    padding: 4px 6px;
    transition: color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-nav a:hover {
    color: #0071e3; 
}
/*  STYLING BUTTONS */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
    transition: tranforma 0.3s ease-in-out , background-color 0.3s ease-in-out;
}
a.btn-nav{
    background-color: #077cf1;
    color : white;
    transition: all o.3s ease-in-out;
    border-radius: 6px;

}
a.btn-nav:hover {
    color: white;
    background-color: rgb(74, 76, 226);
}
.btn-primary {
    color: white;
    background-color: #0071e3;
}
.btn-secondary{
    background-color: #dddd;
    color: #1d1d1d

}
.btn-primary:hover{
    transform: scale(1.05);
}
 
/* STYLING HERO SECTION */
.hero-section{
    padding: 80px 0px;
    text-align: center;
}

.hero-container{
    display: flex;
    align-items: center;
    gap: 40px;
}
.hero-text{
    flex: 1;
    text-align: left;

}
 .hero-text h1 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 6px;

 }

 .hero-text h2{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;

 }

 .hero-text p{
    font-size: 20px;
    max-width: 450px;
    margin-bottom: 30px;
    color: #6e6e73;
 }
 .hero-image img {
    max-width: 100%;
    height: auto;
 }